<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
 
  <bean id="fileEventType" class="com.syncode.springtest1.bean.FileEventType" singleton="true">
    <property name="eventType" value="10"/>
    <property name="description" value="A sample description here"/>
  </bean> 
 
</beans>
